.menu__opciones{
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    justify-content: center;
}
.card{
    border-radius: 25px;
    height:315px;

    img{
        border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    }
}