footer {
    margin-top: 100px;
  background: linear-gradient(60deg, rgb(183, 125, 58) 0%, rgb(255, 211, 67) 100%);
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  .buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }

  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
  }

  .buttons a:hover {
    transform: scale(1.2);
  }
}
