.container__list{
    width: 100%;
    height: 100%;
    background-color:$background-color2;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
 
    
}
.listCard{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 80%;
    gap:20px;
    flex-wrap: wrap;

 }