.input-group>.form-control, .input-group>.form-select {
    width: unset;
}
#container__login{
    border:none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .rounded{
        border-radius:25px 25px;
        
    }
    .link__login{
        color:$letter-color1;
       
    }
    .style__forgot{
        text-decoration-color:$letter-color1;
    }
}

/* ESTILOS DEL TITULO */
.bienvenido{
    font-size:2.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 40px;
  
}

/* separacion de los botones */
.botones__login{
    margin:10px;
    background-color:white;
    color:orange;
    border:1px solid orange;
   &:hover{
    background-color:orange;
    border:1px solid white;

   }
}
.botones__registrate{
    margin:10px;
    background-color:orange;
    border:1px solid orange;
    &:hover{
        background-color:white;
        color:orange;
        border:1px solid orange;
    }
}

/* titulo del componente de Login o Register */
.componente__titulo{
    font-size:1.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color:orange;

    &.peque{
        color:$letter-color1;
        font-size:15px;
    }
}
.importante{
    color:orange;
}
#inscriptions{
    width: 80%;
    display: flex;
    gap: 32px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto  ;
    margin-bottom: 40px;
}

.input-group{
    flex-direction: column;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: $primary-color;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 213, 13, 0.25);
}
.form-check-input:checked {
    background-color: #fdc50d;
    border-color: $primary-color;
}
.form-check-input:focus {
    border-color: #fee286;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 217, 13, 0.25);
}
.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    color: $primary-color;
    background-color: $primary-color;
    border-color: white;
}
.btn:focus {
    color: white;
    font-weight: bold;
    background-color:orange;
    border-color: white;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 217, 13, 0.25);
    &:active{
        box-shadow: 0 0 0 0.25rem rgba(253, 217, 13, 0.25)
    }
}