.filters{
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    border-radius: 8px;
    background-color: rgb(247 202 119 / 21%);
    padding: 20px 8px;
    margin: 10px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg:orange;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: orange;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: orange;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: orange;
}

.btn-toolbar{
    align-items: center;
    gap: 8px;
}
.btn-group{
    gap: 2px;
}

.input-group{
    width: auto;
    flex-direction: column;
}

.search__wrapper{
    display: flex;
    gap: 4px;
}

.filter__selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
