@import "./styles/theme.scss";
@import "./styles/carousel.scss";
@import "./styles/layout.scss";

* + * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


a,button{
  &:focus-visible{
    outline: 1px solid $primary-color;
    border-radius: 8px;
    padding: 3px;
  }
}


.animatedIntro {
  animation-name: intro;
  animation-duration: 8s;
  opacity: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 10;
  background-color: orange;
  img {
    object-fit: contain;
    border-radius: 50%;
  }
}

@keyframes intro {
  0% {
    width: 100vw;
    height: 100vh;
    top: 150%;
    left: 0;
    opacity: 1;
  }
  10% {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  40% {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  70% {
    width: 100px;
    height: 100px;
  }
  99% {
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

.carousel,
.carousel-inner > .item > img {
  height: 100px;
}

.waves {
  position: relative;
  width: 100%;
  height: 30vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  width: 0px;
  right: 50px;
  padding: 0px;

  top: 113px;
  border-radius: 25px;
  height: 0px;
  background-color: white;
  border: 0px solid orange;
  transition: height 0.5s, width 0.5s, border 0.5s;

  &.active {
    padding: 20px;
    height: 300px;
    width: 300px;
    border: 3px solid orange;
    display: flex;
    a {
      display: flex;
      align-items: center;
    }
  }
  a:hover {
    border-radius: 25px;
    text-decoration: underline;
    text-decoration-color: orange;
  }
  .sidebar__link {
    display: none;
    gap: 20px;
    text-decoration: none;
    span {
      color: orange;
      font-size: 2em;
    }
    svg {
      color: orange;
      width: 2em;
      height: 2em;
    }
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

@keyframes move-up-down {
  0%,
  100% {
    bottom: -15px;
  }
  50% {
    bottom: 5px;
  }
}

.intro {
  .arrowDown {
    border: none;
    background: unset;
    animation: move-up-down 1.5s infinite;
    width: 80px;
    height: 67px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f68e0b;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .introWrapper {
    background: linear-gradient(
      60deg,
      rgb(183, 125, 58) 0%,
      rgb(255, 211, 67) 100%
    );
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .introText {
    color: $secondary-color;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    text-align: center;
    padding: 0px 35px;
    h1 {
      color: mix(#fff, $primary-color, 85%);
      font-size: calc(1em + 8vw);
      font-weight: 900;
      text-shadow: -0.0075em 0.0075em 0 mix(#fff, rgb(179, 116, 0), 94%),
        0.005em 0.005em 0 mix(#fff, rgb(151, 98, 0), 60%),
        0.01em 0.01em 0 mix(#fff, rgb(151, 98, 0), 62%),
        0.015em 0.015em mix(#fff, rgb(151, 98, 0), 64%),
        0.02em 0.02em 0 mix(#fff, rgb(151, 98, 0), 66%),
        0.025em 0.025em 0 mix(#fff, rgb(151, 98, 0), 68%),
        0.03em 0.03em 0 mix(#fff, rgb(151, 98, 0), 70%),
        0.035em 0.035em 0 mix(#fff, rgb(151, 98, 0), 72%);
    }
    p{
      font-size: calc(1em + 1vw);
    }
  }
}
