$animationDuration: 5s;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logo {
  width: 120px;
  padding: 10px;
  animation-name: fadeIn;
  animation-duration: $animationDuration;
}

.animatedIntro {
  animation-name: intro;
  animation-duration: $animationDuration;
  opacity: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;
  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  20% {
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
  }
  50% {
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
  }
  99% {
    opacity: 1;
    transform: translate(8px, 15px);
  }
  100% {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(8px, 15px);
  }
}
